fastapi
uvicorn[standard]
streamlit

yfinance
requests
beautifulsoup4
aiohttp
pandas>=2.2.0
numpy

faiss-cpu
python-dotenv

pyttsx3
SpeechRecognition
gTTS

pydantic
python-multipart

sentence-transformers
plotly
scikit-learn
